@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');

.block1 {
	width: 1440px;
	height: 200px;
	background-color: #E5E000;
}

.block1 p {
	font-family: Helvetica;
	font-size: 50px;
	line-height: 180px;
	color: #FFFFFF;
}

.image_header {
	width: 1440px;
	height: 1080px;
	background-image: url(../img/img.png);
	background-size: cover;
}

.block2 {
	width: 1440px;
	height: 100px;
	background-color: #E5E000;
}

.block2 a {
	font-family: Helvetica;
	font-weight: bolder;
	font-size: 25px;
	text-transform: uppercase;
	line-height: 100px;
	color: #FFFFFF;
}

.block3 {
	width: 1440px;
	height: 847px;
}

.block3 h1 {
	font-family: Helvetica;
	font-weight: bolder;
	font-size: 50px;
	line-height: 200px;
}

.block3 p {
	font-family: 'Rubik Beastly', cursive;
	font-weight: lighter;
	font-size: 50px;
	line-height: 000px;
}

.block_footer {
	width: 1440px;
	height: 200px;
	background-color: #E5E000;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: 50px 75px;
}

.block_footer p {
	font-family: Helvetica;
	font-size: 50px;
	line-height: 180px;
	color: #FFFFFF;
	text-align: right;
}





